# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. SQL
2. Python
3. R
4. Java
5. C++

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. TensorFlow
3. Pandas
4. PyTorch
5. Keras
6. Matplotlib

|Data Science Tools|
|---|
|TesorFlow|
|SAS|
|Apache Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

__Objectives__
* List data science languages
* List data science libraries
* Table of Data Science tools
* Introducing arithmetic expression examples
* Convert minutes to hours

## Author
Ziphozonke Nduduzo Buthelezi